.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.host{
  width: 100%;
  text-align: center;
}

.main {
  min-height: 100vh;
}

.buzzer {
  min-height: 45vh;
}

.times {
  min-height: 35vh;
}

.playersBuzzed{
  display: table;
  margin: 0 auto;
  margin-bottom: 10vh;
}

.hr {
  margin-bottom: 20px;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.12);
}

.hr2 {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.12);
}

.buzzedPaper {
  /* width: 80vw; */
  padding: 5%;
  min-height: 35vh;
}