.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  height: 100vh;
}

.buzzer {
  height: 45vh;
}

.times {
  height: 30vh;
}

.player_name {
  height: 10vh;
}